<?php

/**
 * @author MrDan
 * @copyright 2012
 */

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />
    <meta name="author" content="MrDan" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/form.css" />

	<title>Next-Events</title>
</head>

<body>

<!-- Header -->
<div id="header">
<div class="fixed clear">
    <div id="logo" title="D&D PHP Group"></div>
    <div id="icons">
        <ul>
            <li><a href=""><img src="images/icons/home.png" /></a></li>
            <li><a href=""><img src="images/icons/profile.png" /></a></li>
        </ul>
    </div>
    <div id="search">
        <input type="text" name="search" value="Search" size="50" />
    </div>
    <div id="post">
        <a href="">Đăng sự kiện</a>
    </div>
</div>
</div>
<!-- Content -->
<div id="content">
    <div id="main_content" class="fixed">
        <div id="sidebar_left" class="sidebar">
            <div id="login">
                <a href="" class="as_button">Đăng nhập</a>
                <a href="" class="as_button">Đăng ký</a>
            </div>
            
            <div id="new_mem" class="col_sidebar">
                <span class="col_title">Thành viên mới nhất</span>
                <ul class="list_mem">
                    
                    <li><a href=""><img src="images/avatar/03.gif" /></a></li>
                    <li><a href=""><img src="images/avatar/03.gif" /></a></li>
                    <li><a href=""><img src="images/avatar/02.gif" /></a></li>
                    <li><a href=""><img src="images/avatar/01.gif" /></a></li>
                </ul>
            </div>
            
            <div id="active_event" class="col_sidebar">
                <span class="col_title">Hoạt động vừa diễn ra</span>
                <ul>
                <li class="active_content clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Du Dan</a> has create an event <a class="is_link">Khi nao moi cuoi vo day??? :|</a></p>
                </li>
                
                <li class="active_content clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Du Dan</a> has create an event <a class="is_link">Khi nao moi cuoi vo day??? :|</a></p>
                </li>
                
                <li class="active_content clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Du Dan</a> has create an event <a class="is_link">Khi nao moi cuoi vo day??? :|</a></p>
                </li>
                </ul>

            </div>
            
            <div id="pending_event" class="col_sidebar">
                <span class="col_title">Sự kiện chờ xét duyệt</span>
                <ul class="row_event">
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                </ul>

            </div>
        </div>
        <div id="primary">
            <div id="slider"></div>
            <div id="primary_content">
                <div id="top_event" class="clear">
                    <div class="col_top_event">
                        <img src="images/top_event.jpg" />
                        <p><a class="is_link">WorlCup 2014 Brazil Welcome</a></p>
                        <p class="date">Ngày 21 tháng 6 năm 2014</p>
                    </div>
                    
                    <div class="col_top_event">
                        <img src="images/top_event.jpg" />
                        <p><a class="is_link">WorlCup 2014 Brazil Welcome</a></p>
                        <p class="date">Ngày 21 tháng 6 năm 2014</p>
                    </div>
                    
                    <div class="col_top_event">
                        <img src="images/top_event.jpg" />
                        <p><a class="is_link">WorlCup 2014 Brazil Welcome</a></p>
                        <p class="date">Ngày 21 tháng 6 năm 2014</p>
                    </div>
                </div>
                
                <div id="latest_event">
                    <span class="col_title">Sự kiện sắp diễn ra</span>
                    <div class="col_lastest_event clear">
                        <ul class="event_time">
                            <li class="event_time_time">20:00</li>
                            <li class="event_time_date"><img src="images/date/10.gif" /></li>
                            <li class="event_time_month">Tháng 4</li>
                        </ul>
                        <p><a class="is_link event_title">Hội thảo: Những việc làm hấp dẫn cho ITer 2012</a></p>
                        <p>Tầng 12 Grand Plaza - Trần Duy Hưng - Hà Nội</p>
                        <p><a class="is_link is_creator">Du Dan</a> | Hội thảo: Miễn phí!!! | 89 lượt xem</p>
                    </div>
                    
                    <div class="col_lastest_event clear">
                        <ul class="event_time">
                            <li class="event_time_time">20:00</li>
                            <li class="event_time_date"><img src="images/date/10.gif" /></li>
                            <li class="event_time_month">Tháng 4</li>
                        </ul>
                        <p><a class="is_link event_title">Hội thảo: Những việc làm hấp dẫn cho ITer 2012</a></p>
                        <p>Tầng 12 Grand Plaza - Trần Duy Hưng - Hà Nội</p>
                        <p><a class="is_link is_creator">Du Dan</a> | Hội thảo: Miễn phí!!! | 89 lượt xem</p>
                    </div>
                    
                    <div class="col_lastest_event clear">
                        <ul class="event_time">
                            <li class="event_time_time">20:00</li>
                            <li class="event_time_date"><img src="images/date/10.gif" /></li>
                            <li class="event_time_month">Tháng 4</li>
                        </ul>
                        <p><a class="is_link event_title">Hội thảo: Những việc làm hấp dẫn cho ITer 2012</a></p>
                        <p>Tầng 12 Grand Plaza - Trần Duy Hưng - Hà Nội</p>
                        <p><a class="is_link is_creator">Du Dan</a> | Hội thảo: Miễn phí!!! | 89 lượt xem</p>
                    </div>
                    
                    <div class="col_lastest_event clear">
                        <ul class="event_time">
                            <li class="event_time_time">20:00</li>
                            <li class="event_time_date"><img src="images/date/10.gif" /></li>
                            <li class="event_time_month">Tháng 4</li>
                        </ul>
                        <p><a class="is_link event_title">Hội thảo: Những việc làm hấp dẫn cho ITer 2012</a></p>
                        <p>Tầng 12 Grand Plaza - Trần Duy Hưng - Hà Nội</p>
                        <p><a class="is_link is_creator">Du Dan</a> | Hội thảo: Miễn phí!!! | 89 lượt xem</p>
                    </div>
                    
                    <div class="col_lastest_event clear">
                        <ul class="event_time">
                            <li class="event_time_time">20:00</li>
                            <li class="event_time_date"><img src="images/date/10.gif" /></li>
                            <li class="event_time_month">Tháng 4</li>
                        </ul>
                        <p><a class="is_link event_title">Hội thảo: Những việc làm hấp dẫn cho ITer 2012</a></p>
                        <p>Tầng 12 Grand Plaza - Trần Duy Hưng - Hà Nội</p>
                        <p><a class="is_link is_creator">Du Dan</a> | Hội thảo: Miễn phí!!! | 89 lượt xem</p>
                    </div>
                
                </div>
            
            </div>
            <div id="sidebar_right" class="sidebar">
                <div id="new_event" class="col_sidebar">
                <span class="col_title">Sự kiện mới</span>
                <ul class="row_event">
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                </ul>

                </div>
                
                <div id="hot_event" class="col_sidebar">
                <span class="col_title">Sự kiện được quan tâm</span>
                <ul class="row_event">
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                
                <li class="clear">
                <a href=""><img src="images/avatar/01.gif" /></a>
                <p><a class="is_link">Hội thảo: Vấn đề SEO thời điểm hiện tại</a></p>
                <div class="clear"></div>
                </li>
                </ul>

                </div>
            </div>
        </div>
    </div>
    <p class="clear"></p>
</div>


<!-- Footer -->
<div id="footer">
    <div id="footer_content" class="fixed">
    <div class="col_footer">
        <span>Company</span>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    
    <div class="col_footer">
        <span>Company</span>
        <p>Find us with these sites:</p>
        <img src="images/social.png" />
    </div>
    
    <div class="col_footer">
        <span>Location</span>
        <p>144 Xuan Thuy Str<br />
        Cau Giay, Ha Noi</p>
    </div>
    
    </div>
    <div class="clear"></div>
    <div id="copyright"><p>Allright Reserve @ D&D Group 2012</p></div>
</div>
</body>
</html>